@media screen and (min-width:992px){
    h1{
        font-size: 3.5em;
    }

    /**** Recipe - Section ****/

    .card{
        flex-wrap: wrap;
        height: 400px;
    }

    .bottom-card > ul {
        flex-direction: column;
    }
}