*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 10px 40px;
}


body{
    min-width: 500px;
    font-family: 'Montserrat';
}

/* ---Text-elements---- */

h1{
    font-family: 'Nerko one';
    font-size: 2.5em;
    color: orange;
    text-shadow: 1px 1px 2px black;
}

h3{
    color: rgb(63, 15, 114);
    font-size: 1.5em;
}

p, a, span{
    font-size: 12px;
}

/*---- utilits ----*/
ul{
    list-style-type: none;
}

.bold{
    font-weight: bold;
}

.invisible{
    display: none;
}

.border{
    border: 1px dashed red;
}

/*--Buttons--*/
.btn{
    background-color: orange;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}

.btn.purple{
    background-color:#7C69A4;
}


/*----------
   Header
----------*/

.nerko-one {
    font-family: "Nerko One", cursive;
    font-weight: 700;
    font-style: normal;
  }

header{
    height: 80px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*-----------
     Main
------------*/
main{
    padding-top: 100px ;
    background-color: rgb(244, 239, 230);
}


/****** Section top-text  *****/

#top-text p{
    color: gray;
}

#top-text a{
    text-decoration: none;
    color: black;
}

.title-recipe{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-recipe ul{
    display: flex;
    gap: 5px;
}

.title-recipe i{
    color: orange;
}

/****** Section Recipe  *****/

#recipe{
    display: flex;
    
}

.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
}

iframe{
    width: 100%;
    height: 360px;
}
.midle-card{
    margin: 10px 20px;
    padding: 10px;
    background-color:rgb(244, 239, 230);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cal-info{
    display: flex;
    justify-content: space-between;
}

.cal-info :last-child{
    color: orange;
 }

 .bottom-card{
    margin: 0 20px 20px 20px;
 }

.bottom-card > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottom-card > ul > li{
    display: flex;
    gap: 5px;
}

.bottom-card i{
    color: orange;
}

 










  