@media screen and (min-width:768px) {

    .container{
        padding: 20px 40px;
    }

    h1{
        text-align: left;
        padding-left: 20px;
        font-size: 3em;
    }
    
    h3{
        font-size: 2em;
    }

    p, a, span{
        font-size: 14px;
    }
    
    /*-------------
    Corpo del sito
    --------------*/

    header{
        justify-content: left;
        height: 100px;
    }
    
    .invisible{
        display: flex;
    }

    /***Recipe Section***/

    .iframe{
        height: 380px;
    }

    .bottom-card > ul {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .bottom-card > ul > li{
        flex-basis: calc(100% / 3 - 20px);
    }
}